@import '../Variables/Variables.scss';

.modalWindowContainer {
  width: 80%;
  margin: 60px auto;
  text-align: center;
  border: 1px solid #000000;

  .modalWindow {
    height: 100%;
  }

  .modalWindowHeader {
    margin-top: 10px;
  }

  .modalWindowContent {
    margin-top: 30px;
  }

  .modalWindowFooter {
    margin: 30px auto 20px;
  }
}

.modalWindowContainerQuestion {
  text-align: left;
  padding: 30px;

  .title {
  }

  .content {
    margin-top: 20px;
  }
}
