@import '../Variables/Variables.scss';

@mixin buttonTheme($theme: DarkGray) {
  background-color: $buttonBgColor;
  box-shadow: 0 0 1px rgba($theme, 0.25);
  color: #000;
  padding: 5px;
  border: 2px solid #000;
  font-family: 'abeezee';
  font-size: 12px;
  font-weight: 500;
}

button {
  @include buttonTheme;
  cursor: pointer;
}

.basePage {
  width: 100%;
  margin-top: 10%;
  text-align: center;
  font-weight: 500;
  font-family: 'abeezee';
  font-size: 16px;

  .starterButton {
    margin-top: 20px;
  }
}

.modalWindow {
  overflow: auto;
  height: 100%;

  .modalWindowContainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #000000;
    position: relative;
    top: 10%;
    font-family: 'abeezee';
    font-size: 16px;
    background-color: #fff;

    .modalWindow {
      height: 100%;
      padding: 20px;
    }

    .modalWindowHeaderTitle {
      text-align: center;
      margin: 0 auto;
    }

    .modalWindowContent {
      margin-bottom: 30px;
    }

    .modalWindowFooter {
      position: relative;
      height: 60px;

      .modalWindowNavigation {
        .modalWindowNavigationContainer {
          position: absolute;
          right: 40px;
        }

        .forwardNavigationContainer {
          margin-left: 20px;
        }
      }

      button {
        min-width: 100px;
      }
    }

    .modalWindowHeaderCloseButton {
      button {
        border: 0;
        background-color: #fff;
        font-size: 30px;
        font-weight: 1200;
      }
    }

    .modalWindowContainerQuestion {
      text-align: left;
      padding: 30px;

      .content {
        margin-top: 20px;

        .dataInputContainer {
          width: 90%;
          text-align: center;
          margin: 0 auto;
          max-height: 200px;

          .inputContainer {
            padding: 0 20px;
          }

          .dataInput {
            padding: 5px;
            border: 2px solid #000;
            margin-bottom: 20px;
            min-width: 200px;
            width: 100%;
          }

          .textAreaInput {
            padding: 5px;
            border: 2px solid #000;
            margin-bottom: 20px;
            min-width: 200px;
            width: 100%;
          }
        }

        .summaryRow {
          max-height: 280px;
        }

        .summaryCardContainer {
          margin-top: 20px;
          width: 100%;
          height: 100%;

          .summaryCardQuestion {
            width: 100%;

            .summaryTitleContainer {
              line-height: 32px;

              .summaryTitle {
                margin-right: 20px;
                font-size: 24px;
                text-transform: uppercase;
              }
            }

            .leftContentText {
              font-size: 12px;
              margin-bottom: 10px;
            }

            .rightContentText {
              font-size: 12px;
              margin-bottom: 10px;
              margin-right: 20px;
              text-align: right;
            }

            .rightContentTotalValue {
              display: inline;
              font-weight: bold;
            }
          }
        }
      }

      .summaryText {
        font-size: 14px;
        margin-top: 20px;
      }

      .pricesAndCouponContainer {
        .pricesAndCoupon {
          margin-top: 40px;
          text-align: right;

          .couponEntryText {
            color: rgb(46, 46, 150);
            text-decoration: underline;
            font-size: 14px;
            margin-bottom: 10px;
            cursor: pointer;
          }
        }

        .couponEntryContainer {
          margin-bottom: 10px;
        }

        .couponErrorMessage {
          color: rgb(209, 40, 40);
          font-size: 14px;
          margin-top: 20px;
        }

        .couponSuccessMessage {
          color: rgb(33, 175, 64);
          font-size: 14px;
          margin-bottom: 20px;
        }

        .baseTotalInfo {
          margin-bottom: 10px;
          font-size: 14px;
        }

        .discountInfo {
          margin-bottom: 10px;
          font-size: 14px;
        }

        .infoValue {
          font-weight: bold;
          display: inline;
        }

        .totalInfo {
          font-size: 20px;
          text-transform: uppercase;
        }

        .totalInfoValue {
          font-weight: bold;
          display: inline;
        }

        .totalContainer {
          text-align: right;
        }
      }
    }

    .modalWindowContainerFinal {
      text-align: center;

      .title {
        margin: 40px 0 20px;
        font-size: 20px;
      }
      .content {
        width: 50%;
        margin: 0 auto 40px;
        font-size: 12px;
      }
    }
  }

  .divider {
    background-color: #000;
    margin-bottom: 30px;
  }
}
